<nav class="navbar navbar-expand-lg" style="height:2.7rem">
    
</nav>

<style>
    nav{
        background-color: #2e2759;
    }
    .btn {
        position:absolute;
        top : -2rem
    }
</style>