<html>
    {{>header}}
    <head>
        <title>Add Collection</title>
    </head>
        <body>
            <form action="/add"  method="post"  style="width: 50rem ; margin-left:16rem; margin-top:8rem">
    <div class="form-group mb-3">
        <label for="collection">Add Collection</label>
        <input type="text" class="form-control" name="name" id="collection" placeholder="Enter collection">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </body>