<html>
    {{>header}}
    <head>
        <title>Add Task</title>
    </head>
        <body>
            <form action="/addtask"  method="post"  style="width: 50rem ; margin-left:16rem; margin-top:8rem">
    <div class="form-group mb-3">
        <label for="task">Add task</label>
        <input type="text" class="form-control" name="name" id="task" placeholder="Enter collection">
    </div>
        <div class="form-group mb-3">
        <label for="task">is_Done</label>
        <input type="text" class="form-control" name="is_done" id="task" placeholder="Have Done ?">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </body>